body {
    background-color: rgb(31, 30, 30);
    font-family: 'Roboto', sans-serif;
}

body h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 6px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    padding: 0.25rem;
    color: rgb(61, 58, 58);
}

input:focus {
    background-color: rgb(219, 190, 253);
    color: rgb(46, 0, 99);
    border: rgb(46, 0, 99);
}


button {
    display: block;
    font: inherit;
    background-color: rgb(46, 0, 99);
    color: #fff;
    border: 1px solid rgb(46, 0, 99);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 200ms;
}

button:hover {
    background-color: rgb(80, 23, 146);
    border: 1px solid rgb(80, 23, 146);

}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

#usermessage {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 6px;
}